# Contraseña para modo normal (tu mamá)
VITE_APP_PASSWORD=1234

# Contraseña para modo mami (tu abuela) - Solo lectura
VITE_READONLY_PASSWORD=240103

# Configuración de Supabase (opcional)
# VITE_SUPABASE_URL=tu_url_de_supabase_aqui
# VITE_SUPABASE_ANON_KEY=tu_anon_key_de_supabase_aqui
